<!DOCTYPE html>
<html>
<head>
     <title>Index</title>
    <link rel = "stylesheet" href="./css/style.css"/>
   
</head>
<body>
    <div class="main-content"> 
         {{>header}}
        <p>use this site to get yourv Weather</p>

        <form>
            <input placeholder="location">
            <button>Search</button>

        </form>
    </div>
   {{>footer}}
    <script src = "./js/app.js"></script>
</body>
</html>

